@{
    ViewData["Title"] = "Group Information";
}

@model SignUp

<h3>Thank you for Signing Up!</h3>

<br />

<h5>Please fill out the following information:</h5>


<form method="post" asp-action="GroupInfo">

    <div asp-validation-summary="All"></div>

    <br />

    <label asp-for="GroupName">Group Name:</label>
    <input asp-for="GroupName" />

    <br />

    <label asp-for="GroupSize">Group Size:</label>
    <input asp-for="GroupSize" />

    <br />

    <label asp-for="Email">Email Address:</label>
    <input asp-for="Email" />

    <br />

    <label asp-for="Phone">Phone Number:</label>
    <input asp-for="Phone" />

    <br />

    <input type="hidden" asp-for="AppointmentId" value="@ViewBag.App" />

    <!--These buttons will change depending on if you are updating or deleting data-->

    @if (Model == null)
    {
        <button class="btn btn-primary m-2" type="submit" asp-action="GroupInfo">Submit</button>
    }

    @if (Model != null)
    {
        <input type="hidden" asp-for="SignUpId" />
        <button class="btn btn-primary m-2" type="submit" asp-action="Edit">Update</button>
    }



</form>

