@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>

<br />

@* This is an image of the layton utah temple used on the previous sign up website *@

<p style="text-align:center;">
    <img src="https://images.signupgenius.com/memberImages/4445C6D4D73723E8AD877F824C03B4FD_106817881.jpg" class="align-self-center"/>
</p>

<br /><br />

 @* This paragraph is information pulled directly from the website regarding the tours *@

      <p>
          Use the "quantity" field to let us know how many people will be in your group. Thank you!

          We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.

          We can do groups on Saturday, please text me at 801-628-4488.

          General Tour Instructions:

          Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
          Dress casual, except on Sunday
          Special Accommodations (check the appropriate box when signing up for a tour):

          Spanish-speaking tours are available, by request.
          Available Tours:

          Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes
          Trailer Tour: On Sunday. Masks are required
          Please call or text 801-628-4488 with questions or special requests.
      </p>

<div>
    Ready to take a tour? Sign up now!
</div>

@* This will link to the sign up page *@

<div class="row">
    <div class="col m-3">
        <a class="btn btn-primary" asp-controller="Home" asp-action="SignUp">Sign Up</a>
    </div>
    <div class="col m-3">
        <a class="btn btn-primary" asp-controller="Home" asp-action="AppointmentList">View Appointments</a>
    </div>
    <div class="col"></div>
</div>

